<!DOCTYPE html>
<html lang="en" >
{% include compact-header.html %}
<body>
<header>
    <div class="flux-logo">
	<a href="https://flux-framework.readthedocs.io/"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="flux logo" width="100"></a>
    </div>
   <h1>{{ site.title }}</h1>

<div class="bannerlab-logo"></div>
</header>

{{ content }}


<h3 class="block-title">Learning Resources</h3>
<pre><code></code><a href="https://greensock.com/get-started-js" target="_blank">https://greensock.com/get-started-js</a>
<a href="https://codepen.io/collection/ifybJ/" target="_blank">https://codepen.io/collection/js-jump-start/</a>
<a href="https://codepen.io/GreenSock/" target="_blank">https://codepen.io/GreenSock/</a>
<a href="https://codepen.io/GreenSock/pen/OPqpRJ" target="_blank">https://codepen.io/GreenSock/try-bonus-plugins/</a>
<a href="https://codepen.io/chrisgannon/" target="_blank">https://codepen.io/chrisgannon/</a>
<a href="https://codepen.io/osublake/" target="_blank">https://codepen.io/osublake/</a>
<a href="https://codepen.io/dipscom/" target="_blank">https://codepen.io/dipscom/</a>
<a href="https://codepen.io/dipscom/posts/" target="_blank">https://codepen.io/dipscom/posts/</a>
<a href="https://codepen.io/MAW/" target="_blank">https://codepen.io/MAW/</a>
<a href="https://codepen.io/ihatetomatoes/" target="_blank">https://codepen.io/ihatetomatoes/</a>
<a href="https://codepen.io/jonathan/" target="_blank">https://codepen.io/jonathan/</a>
<a href="https://codepen.io/PointC/" target="_blank">https://codepen.io/PointC/</a>
<a href="https://codepen.io/sdras/" target="_blank">https://codepen.io/sdras/</a>
</pre>
		</div>
	</div>
</div>
<footer>
	<span>Created by <a href="https://jasonbaciulis.com">Jason Baciulis</a> V1.2</span>
	<a href="https://jasonbaciulis.com">https://jasonbaciulis.com</a>
</footer>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
</body>
</html>
